/* style.css */
body {
  font-family: Arial, sans-serif;
  background-color: #af1515;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Inter', sans-serif;
  background: linear-gradient(to right, #667eea, #764ba2);
}

.container {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  background-color: #fff;
  margin-top: 50px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  border-radius: 10px;
}

h1, h2, h3 {
  text-align: center;
  color: #333;
}

input {
  display: block;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  width: 48%;
  padding: 10px;
  margin: 5px 1%;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background: #eee;
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
}

#lectureList {
  max-height: 200px;
  overflow-y: auto;
}
